body {
    background-color: chocolate;
}

#container {
text-align: center;
}

#addButton {
    background-color: green;
    color: white;
    border-radius: 5px;
}

#clearButton {
    background-color: red;
    color: white;
}